<!DOCTYPE html>
<html>
    <% include ../page/head.ejs %>
</head>
<body>

    <% include ../page/header.ejs %>

    <div id="content" class="dashboard">

        <div class="container-fluid">
            <div class="col-sm-12 col-md-12 main text-center">
            <h1 class="heading">Latest Galleries</h1>
                <div class="row">
                    <% latestGalleries.forEach(function(gallery, index) { %>
                        <a href="<%= gallery['dataValues']['url'] %>">
                            <div class="col-xs-6 col-sm-6 col-md-3 item">
                                <div class="item-container">
                                    <img src="<%= gallery['dataValues']['img'] %>" class="img-responsive" alt="Generic thumbnail">
                                    <h4><%= gallery['dataValues']['name'] %></h4>
                                </div>
                            </div>
                        </a>
                    <% }); %>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div class="col-centered text-center" style="max-width: 140px; margin-bottom: 100px">
                <a href="/dashboard/upload"><div class="button"><i class="fa fa-upload"></i><br><span>Upload</span></div></a>
            </div>
        </div>

    </div>

    <% include ../page/jsdefaults.ejs %>

</body>
</html>
