<!DOCTYPE html>
<html>
<head><% include ../page/head.ejs %></head>
<body>
    <% include ../page/header.ejs %>

    <div id="content" class="container">
        <!-- Content -->
        <h1>Dashboard</h1>
        <p>Dashboard content</p>
        <!-- Content end -->
    </div>

    <% include ../page/footer.ejs %>

    <% include ../page/jsdefaults.ejs %>

</body>
</html>
