<!DOCTYPE html>
<html>
    <% include page/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/cover.css">

</head>
<body class="noscroll">

    <% include page/header.ejs %>

    <div id="slideshow">
        <% photos.forEach(function(photo, index) { %>
            <div class="slide" style="background-image: url(<%= photo['dataValues']['url'] %>);"></div>
        <% }); %>

        <div class="slideshow-content">
            <h2 class="name">
                <%= appdata.about.name %>
            </h2>
            <p class="description">
                <%= appdata.about.description %>
            </p>
        </div>

        <!--
        <a href="/">
            <h1 class="title">
                <%= appdata.site.title %>
            </h1>
        </a>
        -->

    </div>
    <% include page/jsdefaults.ejs %>
    <script src="/javascripts/cover.js"></script>

</body>
</html>
