<!DOCTYPE html>
<html>
    <% include page/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/background.css">
</head>
<body class="dashboard mobile dark-bg">
    <% include page/header.ejs %>
    <% include page/background.ejs %>

    <div id="content" class="dashboard down-content">

        <div class="container main">
            <div class="form-div">
                <form class="form" id="login-form" method="POST" action="/login">

                    <p class="name">
                        <input name="username" type="text" class="input" placeholder="Username" id="username" required=""/>
                    </p>

                    <p class="email">
                        <input name="password" type="password" class="input" id="password" placeholder="Password" required=""/>
                    </p>

                    <div class="submit">
                        <input type="submit" name="login" value="LOGIN" class="button-blue" id="login"/>
                    <div class="ease"></div>

                </form>
            </div>
        </div>
    </div>

    <% include page/jsdefaults.ejs %>

</body>
</html>
