/*
 *  Background
 */

 #slideshow {
  position: fixed;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-filter: blur(10px) brightness(0.8);
  -moz-filter: blur(10px) brightness(0.8);
  -o-filter: blur(10px) brightness(0.8);
  -ms-filter: blur(10px) brightness(0.8);
  filter: blur(10px) brightness(0.8);
}

#slideshow .slide {
  position: fixed;
  opacity: 0;
}
#slideshow .slide.show {
  opacity: 1;
  position: fixed;
}
#slideshow .slide.animation {
  -webkit-animation: imageAnimation 20s infinite;
  -moz-animation: imageAnimation 20s infinite;
  -o-animation: imageAnimation 20s infinite;
  -ms-animation: imageAnimation 20s infinite;
  animation: imageAnimation 20s infinite;
}

#slideshow .slide.show,
#slideshow .slide {
  transition: 1.4s opacity, -webkit-animation, animation;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #000;
  overflow: hidden;
}

@-webkit-keyframes imageAnimation {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
      -webkit-transform: scale(1.0);
  }
}
@-moz-keyframes imageAnimation {
  0% {
      -moz-animation-timing-function: ease-in;
      -moz-transform: scale(1.0);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  100% {
      -moz-transform: scale(1.0);
  }
}
@-o-keyframes imageAnimation {
  0% {
      -o-animation-timing-function: ease-in;
      -o-transform: scale(1.0);
  }
  50% {
    -o-transform: scale(1.1);
  }
  100% {
      -o-transform: scale(1.0);
  }
}
@-ms-keyframes imageAnimation {
  0% {
      -ms-animation-timing-function: ease-in;
      -ms-transform: scale(1.0);
  }
  50% {
    -ms-transform: scale(1.1);
  }
  100% {
      -ms-transform: scale(1.0);
  }
}
@keyframes imageAnimation {
  0% {
      animation-timing-function: ease-in;
      transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
      transform: scale(1.0);
  }
}
