@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#slideshow .title {
  position: absolute;
  top: 24px;
  right: 20px;
  color: #fff;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  margin: 0 !important;
  padding: 0 !important;
}

#slideshow .slideshow-content {
  position: absolute;
  margin: 0 auto;
  top: 25%;
  color: #fff;
  left: 0;
  right: 0;
  width: 50%;
  max-width: 500px;
  text-align: center;
  font-family: 'Bree Serif', serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#slideshow .button {
  border: 3px solid #fff;
  position: static;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20% ;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
  transition: background-position .2s;
  transition: background-position .2s;
  font-family: 'Bree Serif', serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;


  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
  transition: background-position .2s;
  transition: background-position .2s;
  border: 3px solid #fff;
  margin-top: 40%;
  */

}
#slideshow .button:hover {
  background-position: 0 -100%;
  cursor: pointer;
}
#slideshow .button:hover span {
  color: black;
}

#slideshow .button span {
  line-height: 50px;
  color: #fff;
  vertical-align: middle;
  font-size: 2em;
}

#slideshow {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#slideshow .slide {
  position: fixed;
  opacity: 0;
}
#slideshow .slide.show {
  opacity: 1;
  position: fixed;
}
#slideshow .slide.animation {
  -webkit-animation: imageAnimation 8s linear forwards;
  -moz-animation: imageAnimation 8s linear forwards;
  -o-animation: imageAnimation 8s linear forwards;
  -ms-animation: imageAnimation 8s linear forwards;
  animation: imageAnimation 8s linear forwards;
}

#slideshow .slide.show,
#slideshow .slide {
  transition: 1.4s opacity, -webkit-animation, animation;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 480px) {
    #slideshow .button {
      bottom: 15%;
    }
    #slideshow .slideshow-content {
      width: 80%;
    }
}

@-webkit-keyframes imageAnimation {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0) rotate(0deg);
  }
  100% {
      -webkit-transform: scale(1.1) rotate(4deg);
  }
}
@-moz-keyframes imageAnimation {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0) rotate(0deg);
  }
  100% {
      -webkit-transform: scale(1.1) rotate(4deg);
  }
}
@-o-keyframes imageAnimation {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0) rotate(0deg);
  }
  100% {
      -webkit-transform: scale(1.1) rotate(4deg);
  }
}
@-ms-keyframes imageAnimation {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0) rotate(0deg);
  }
  100% {
      -webkit-transform: scale(1.1) rotate(4deg);
  }
}
@keyframes imageAnimation {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0) rotate(0deg);
  }
  100% {
      -webkit-transform: scale(1.1) rotate(4deg);
  }
}

@-webkit-keyframes imageAnimation-no-rotate {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0);
  }
  100% {
      -webkit-transform: scale(1.1);
  }
}
@-moz-keyframes imageAnimation-no-rotate {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0);
  }
  100% {
      -webkit-transform: scale(1.1);
  }
}
@-o-keyframes imageAnimation-no-rotate {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0);
  }
  100% {
      -webkit-transform: scale(1.1);
  }
}
@-ms-keyframes imageAnimation-no-rotate {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0);
  }
  100% {
      -webkit-transform: scale(1.1);
  }
}
@keyframes imageAnimation-no-rotate {
  0% {
      -webkit-animation-timing-function: ease-in;
      -webkit-transform: scale(1.0);
  }
  100% {
      -webkit-transform: scale(1.1);
  }
}
