@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

html, body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.noscroll {
  overflow: hidden;
}

a {
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.card {
  background-color: #fff;
  padding: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-bottom: 2px solid #D8D8D8;
  -moz-box-shadow: 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,.1);
  box-shadow: 1px 1px rgba(0,0,0,.1);
  color: #000;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

#content {
  background-color: #ccc;
}

.title {
  position: fixed;
  top: 26px;
  right: 20px;
  color: #fff;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
  margin: 0 !important;
  padding: 0 !important;
  z-index: 98;
  transition: opacity .2s;
}

.top {
  position: fixed;
  z-index: 98;
  top: 0;
  background-color: #303030;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.bottom {
  position: fixed;
  z-index: 98;
  bottom: 0;
  background-color: #303030;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  width: 100%;
  height: 0;
  opacity: .8;
  height: 60px;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.top.show {
  opacity: .6;
  height: 100px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.centered{
    margin: 0 auto;
}

/* Header */

#header {
  width: 100%;
  height: 520px;
  background-color: #fff;
}

#header .header-content {
  position: absolute;
  left: 0px;
  top: 20%;
  width: 100%;
  text-align: center;
  font-family: 'Bree Serif', serif;

}
#header h1 {
  color: #fff;
  font-size: 8vw;
  text-shadow: 0px 0px 3px #000;
}

#header h2 {
  text-align: center;
  color: #fff;
  font-size: 4vw;
}

.header-bottom {
  width: 100%;
  height: 12px;
  background-color: #fff;
  border-bottom: 2px solid #D8D8D8;
  -moz-box-shadow: 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,.1);
  box-shadow: 1px 1px rgba(0,0,0,.1);

}

@media screen and (min-width: 1500px) {
  #header {
    height: 640px;
  }
}

@media screen and (max-width: 959px) {
  #header {
    height: 440px;
  }
}

@media screen and (max-width: 767px) {
  #header {
    height: 400px;
  }
}
@media screen and (max-width: 479px) {
  #header {
    height: 360px;
  }
}


/* Gallery */

#overlay{position:fixed;top:0;left:0;width:100%;height:100%;z-index:998;
background:#000  no-repeat scroll center center; cursor: pointer;}

#lightbox {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  margin-top: 10vh;
}

#lightbox img {
  max-height: 80vh;
  max-width: 100vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-bottom: 2px solid #D8D8D8;
  -moz-box-shadow: 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,.1);
  box-shadow: 1px 1px rgba(0,0,0,.1);
}

.gallery .item {
  margin-bottom: 20px;
}

.gallerySpec {
  padding-top: 70px;
}

.gallery-name {
  font-family: 'Bree Serif', serif;
  text-align: center;
  color: #fff;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
}

.gallery-name a{
  transition: all .2s;
}

.gallery-name a:hover  {
  color: #000 !important;

}

.gallery .item-container {
  background-color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-bottom: 2px solid #D8D8D8;
  -moz-box-shadow: 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,.1);
  box-shadow: 1px 1px rgba(0,0,0,.1);
  transition: all .1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.gallery .item-container-transparent {
  cursor: pointer;
  margin: 0;
  padding: 10px;
  background-color: rgba(255,255,255,.4);
  border-top: 1px solid rgba(255,255,255,.4);
  border-left: 1px solid rgba(216, 216, 216,.4);
  border-right: 1px solid rgba(216, 216, 216,.4);
  border-bottom: 2px solid rgba(216, 216, 216,.4);
  -moz-box-shadow: 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,.1);
  box-shadow: 1px 1px rgba(0,0,0,.1);
  transition: all .2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.gallery .item-container:hover {
  transform: scale(1.05);
  z-index: 96;
}

.gallery .show:hover {
  transform: 0 !important;
  z-index: 96;
}

.gallerySpec .item-container.show {
  max-width: 800px;
  max-height: 600px;
  width: 90vw;
  z-index: 96;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
}

.gallery .item-container:hover .thumb{
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  filter: brightness(0.6);
}

.gallerySpec .item-container:hover .thumb{
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.gallery .item-container:hover .location,
.gallery .item-container:hover .date {
  opacity: 1;
}

.gallery .item .thumb {
  background-color: #000;
  transition: -webkit-filter .4s, -moz-filter, -o-filter, -ms-filter, filter;
}

.gallery .item .location {
  z-index: 96;
  top: 40%;
}
.gallery .item .date {
  top: 60%;
  z-index: 96;
}

.gallery .item .date,
.gallery .item .location {
  transition: opacity .2s;
  opacity: 0;
  position: absolute;
  color: #fff;
  font-size: 2.4vw;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (max-width: 992px) {
  .gallery .item .date,
  .gallery .item .location {
    font-size: 4vw;
  }
}

.back {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  color: #fff;
  font-family: 'Bree Serif', serif;
  cursor: pointer;
  font-size: 30px;
}

.admin {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  color: #fff;
  font-family: 'Bree Serif', serif;
  cursor: pointer;
  font-size: 30px;
}

.remove-text,
.upload-text {
  transition: color .2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.remove-text:hover {
  color: #E0645C !important;
}

.upload-text:hover {
  color: #2DB6CF !important;
}

.back:hover i,
.admin a:hover i {
  -webkit-animation: spin-360 .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -moz-animation: spin-360 .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -o-animation: spin-360 .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  -ms-animation: spin-360 .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: spin-360 .6s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

@media screen and (max-width: 479px) {
  .back span, .admin span {
    display: none;
  }
  .back i, .admin i {
    font-size: 40px;
  }
  .back, .admin {
    bottom: 10px;
  }
}

@-webkit-keyframes spin-360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@-moz-keyframes spin-360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@-o-keyframes spin-360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@-ms-keyframes spin-360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes spin-360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

/* Login */

.dashboard {
  padding-top: 80px;
  background-color: #303030 !important;
}

.heading {
  color: #fff;
  font-family: 'Bree Serif', serif;
}

.dashboard .item {
  margin-bottom: 20px;
}

.dashboard .item-container {
  background-color: #fff;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  border-top: 1px solid #fff;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-bottom: 2px solid #D8D8D8;
  -moz-box-shadow: 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,.1);
  box-shadow: 1px 1px rgba(0,0,0,.1);
  transition: all .1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.dashboard .item-container:hover {
  transform: scale(1.05);
  z-index: 96;
}

.dashboard .item-container h4 {
  font-size: 1em;
}

.dashboard .button {
  color: #fff;
  background-color: #ccc;
  padding: 10px 10px;
  font-size: 2em;
  transition: all .2s;

}

.dashboard .button:hover {
  background-color: #E0645C;

}


/* Form */

form {
  background-color: #fff;
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #fff;
  border-left: 1px solid #D8D8D8;
  border-right: 1px solid #D8D8D8;
  border-bottom: 2px solid #D8D8D8;
  -moz-box-shadow: 1px 1px rgba(0,0,0,.1);
  -webkit-box-shadow: 1px 1px rgba(0,0,0,.1);
  box-shadow: 1px 1px rgba(0,0,0,.1);
}

.info,
.error,
.success {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  padding: .8em;
}

.info {
  background-color: #2DB6CF;
}

.error {
  background-color: #E0645C;
}

.success {
  background-color: #46B98A;
}
