html, body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#content {
  padding: 50px;
}

a {
  color: #00B7FF;
}

#header,
#footer {
    background: black;
    color: white;
    font-size: 1.4em;
    padding: 30px;
}

#header
