
<div id="slideshow">
    <% if (typeof slideshow !== 'undefined') { %>
        <% slideshow.forEach(function(slide, index){ %>
            <div class="slide" style="background-image: url(/thumb<%= slide['dataValues']['url'] %>);"></div>
        <% }); %>
        <div class="bg-overlay"></div>
    <% } %>
</div>

<script src="/javascripts/cover.js"></script>
