<div id="header" <% if (typeof header != 'undefined') {%> style="background-image:url(<%= header %>);" <%};%>>
    <div class="header-content">
        <h1><%= title %></h1>
        <% if (typeof subtitle != 'undefined') { %>
            <h2><%= subtitle %></h2>
        <% } %>
    </div>
</div>
