<% include /sidebar.ejs %>

<a href="/">
    <h1 class="title">
        <%= appdata.site.title %>
    </h1>
</a>

<div class="top"></div>

<%if (typeof messages.error !== 'undefined') {%>
    <div class="error">
        <span><%= messages.error %></span>
    </div>
<%}%>
<%if (typeof messages.info !== 'undefined') {%>
    <div class="info">
        <span><%= messages.info %></span>
    </div>
<%}%>
<%if (typeof messages.success !== 'undefined') {%>
    <div class="success">
        <span><%= messages.success %></span>
    </div>
<%}%>
