<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css'>
<link rel='stylesheet' href='/stylesheets/sidebar.css'>
<link rel='stylesheet' href='/stylesheets/form.css'>
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="theme-color" content="#000000">
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/javascripts/sidebar.js"></script>
<script src="/javascripts/scripts.js"></script>
